{% extends '@WucdbmMenuBuilder/layout.html.twig' %}

{% block content %}
    <div class="alert alert-info">
        <strong>Under Construction</strong>
        <p>The Dashboard is meant to contain the most vital documentation for this project</p>
        <p>This is however not yet done, so feel free to browse its source code</p>
        <p>This bundle implements the core and the administrative interface of this menu builder</p>
        <p>Alternatively, look at the WucdbmMenuBuilderClient bundle for user (as in for normal people, human beings) interface and/or directions on how to implement your own</p>
    </div>
{% endblock %}