<div class="row">
    <div class="col-sm-12">
        {% if menu|menuTopLevelItems|length %}
            {% include '@WucdbmMenuBuilder/Menu/view/items.html.twig' with {items: menu|menuTopLevelItems} %}
        {% else %}
            <div class="alert alert-info">
                <p>This menu does not have any items yet</p>
                <br/>
                <a href="{{ path('wucdbm_menu_builder_menu_items_add', {id: menu.id}) }}" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    Create your first
                </a>
            </div>
        {% endif %}
    </div>
</div>