{% extends '@WucdbmMenuBuilder/Menu/base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <h2>Examples</h2>
            <p>Those examples should give you an idea how to use the menu and this builder.</p>
            <p>You can use these templates as a starting point, but <code>NEVER</code> in your live site.</p>
            <hr>
        </div>
        <div class="col-sm-12">
            <h2>Simple list</h2>
            <p>Simple nested unordered list.</p>
            <hr>
            {% include '@WucdbmMenuBuilder/Menu/preview/list.html.twig' with {items: menu|menuTopLevelItems} %}
            <br>
            <code>
                {% raw %}
                    {% include '@WucdbmMenuBuilder/Menu/preview/list.html.twig' with {items: menu|menuTopLevelItems} %}
                {% endraw %}
            </code>
        </div>
        <div class="col-sm-12">
            <h2>Bootstrap Pills</h2>
            <p>Links for links with children are displayed as buttons. Feel free to display whatever suits you in your own implementation.</p>
            <p>Also notice how the <code>list-group-item</code> class is used on <code>li</code>s to take advantage of its paddings and make it appealing.</p>
            <p>Feel free to implement your own presentation</p>
            <hr>
            {% include '@WucdbmMenuBuilder/Menu/preview/pills.html.twig' with {items: menu|menuTopLevelItems} %}
            <br>
            <code>
                {% raw %}
                    {% include '@WucdbmMenuBuilder/Menu/preview/pills.html.twig' with {items: menu|menuTopLevelItems} %}
                {% endraw %}
            </code>
        </div>
        <div class="col-sm-12">
            <h2>Multi level dropdown</h2>
            <p>There is an additional piece of CSS inlined on this page that you need to make multi-level dropdowns possible in BS3</p>
            <hr>
            <div class="dropdown">
                <a role="button" data-toggle="dropdown" class="btn btn-primary" href="javascript:;">
                    Some Dropdown
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    {% for item in menu|menuTopLevelItems %}
                        {% include '@WucdbmMenuBuilder/Menu/preview/dropdown.html.twig' %}
                    {% endfor %}
                </ul>
            </div>
            <br>
            <textarea class="form-control" rows="12">{% raw %}
                    <div class="dropdown">
                        <a role="button" data-toggle="dropdown" class="btn btn-primary" href="javascript:;">
                            Some Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            {% for item in menu|menuTopLevelItems %}
                                {% include '@WucdbmMenuBuilder/Menu/preview/dropdown.html.twig' %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endraw %}</textarea>
            <style type="text/css" scoped="scoped">
                .dropdown-submenu {
                    position: relative;
                }

                .dropdown-submenu > .dropdown-menu {
                    top: 0;
                    left: 100%;
                    margin-top: -6px;
                    margin-left: -1px;
                    -webkit-border-radius: 0 6px 6px 6px;
                    -moz-border-radius: 0 6px 6px;
                    border-radius: 0 6px 6px 6px;
                }

                .dropdown-submenu:hover > .dropdown-menu {
                    display: block;
                }

                .dropdown-submenu > a:after {
                    display: block;
                    content: " ";
                    float: right;
                    width: 0;
                    height: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 5px 0 5px 5px;
                    border-left-color: #ccc;
                    margin-top: 5px;
                    margin-right: -10px;
                }

                .dropdown-submenu:hover > a:after {
                    border-left-color: #fff;
                }

                .dropdown-submenu.pull-left {
                    float: none;
                }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
            </style>
        </div>
    </div>

{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('wucdbm_menu_builder_menu_edit', {id: menu.id}) }}">
            {{ menu.name }}
        </a>
    </li>
    <li>
        Preview
    </li>
{% endblock %}