{% extends '@WucdbmMenuBuilder/Menu/base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div data-refresh="{{ path('wucdbm_menu_builder_menu_view_refresh', {id: menu.id}) }}">
                {% include '@WucdbmMenuBuilder/Menu/view/content.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <code>{{ menu.name }}</code>
    </li>
    <li>
        View
    </li>
{% endblock %}